{% extends "base.html" %} {% block content %}
<div>
  <section class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 my-auto">
        <h1 class="mb-3">Selamat Datang di SAPA Indonesia</h1>
        <span> Ingin lebih tau bagaimana cara menggunakan ini ? Yuk!!! </span>
        <a href="{{ url_for('kata') }}">
          <button class="btn-highlight mt-3">
            <p class="btn-text">Mulai Sekarang</p>
          </button></a
        >
      </div>
      <div class="col-sm-12 col-md-6">
        <img
          src="{{ url_for('static' , filename='img/computer.png') }}"
          style="width: 50vw"
          alt=""
        />
      </div>
    </div>
  </section>

  <br />
  <section class="container mb-3">
    <center>
      <hr class="line" />
      <h1 class="text-title">Tutorial</h1>
      <p class="align-center" style="width: 35vw">Tata cara menggunakan SAPA</p>
    </center>
    <br />
    <div class="d-flex justify-content-between">
      <div class="flex-fill text-center px-2" style="max-width: 30%">
        <img src="{{ url_for('static' , filename='img/img/1.png') }}" alt="" />
        <h5 class="my-3">Daftar akunmu!</h5>
        <span class="my-3">
          Silahkan buat akun pribadi kamu, supaya SAPA semakin dekat denganmu
        </span>
      </div>
      <div class="flex-fill text-center px-2" style="max-width: 30%">
        <img src="{{ url_for('static' , filename='img/img/2.png') }}" alt="" />
        <h5 class="my-3">Latih Bahasamu!</h5>
        <span class="my-3"> SAPA melatih bahasa isyarat untuk kamu </span>
      </div>
      <div class="flex-fill text-center px-2" style="max-width: 30%">
        <img src="{{ url_for('static' , filename='img/img/3.png') }}" alt="" />
        <h5 class="my-3">Terapkan Latihanmu!</h5>
        <span class="my-3">
          SAPA akan membantu menerapkan bahasa isyarat kamu
        </span>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-12 col-md-5 d-flex justify-content-center">
        <img
          src="{{ url_for('static' , filename='img/hand.png') }}"
          width="100%"
          class="rounded"
          alt=""
        />
      </div>
      <div
        class="col-sm-12 col-md-7 mt-3 d-flex flex-column justify-content-around"
      >
        <div class="row border rounded border-success p-1">
          <div class="col-2 my-auto">
            <img
              src="{{ url_for('static' , filename='img/icon/icon1.png') }}"
              style="width: 40px; height: 40px"
              alt=""
            />
          </div>
          <div class="col-8">
            <p>Mulai Prediksi</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui
              purus, porttitor ut ornare finibus, vehicula et lectus. Phasellus
              eu hendrerit nisl.
            </p>
          </div>
        </div>
        <div class="row mt-2 p-1">
          <div class="col-2 my-auto">
            <img
              src="{{ url_for('static' , filename='img/icon/icon3.png') }}"
              style="width: 40px; height: 40px"
              alt=""
            />
          </div>
          <div class="col-10">
            <p>Hentikan Prediksi</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui
              purus, porttitor ut ornare finibus, vehicula et lectus. Phasellus
              eu hendrerit nisl.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br />
  <br />
  <section class="container">
    <div class="row ml-auto">
      <div class="col d-flex justify-content-center">
        <img
          src="{{ url_for('static' , filename='img/logo/5.svg') }}"
          width="120px"
          alt=""
        />
      </div>
      <div class="col d-flex justify-content-center">
        <img
          src="{{ url_for('static' , filename='img/logo/2.svg') }}"
          width="120px"
          alt=""
        />
      </div>
      <div class="col d-flex justify-content-center">
        <img
          src="{{ url_for('static' , filename='img/logo/3.svg') }}"
          width="120px"
          alt=""
        />
      </div>
      <div class="col d-flex justify-content-center">
        <img
          src="{{ url_for('static' , filename='img/logo/4.svg') }}"
          width="120px"
          alt=""
        />
      </div>
      <div class="col d-flex justify-content-center">
        <img
          src="{{ url_for('static' , filename='img/logo/5.svg') }}"
          width="120px"
          alt=""
        />
      </div>
    </div>
  </section>
  <br />
  <br />
</div>
{% endblock %}
